<div>
    <h2>Cadastrar Pokemon</h2>

    <form class="form" [formGroup]="form" (ngSubmit)="cadPokemon()">
        <mat-form-field class="full-width">
            <input matInput placeholder="Nome" formControlName="nome">
        </mat-form-field>

        <mat-form-field class="full-width">
            <textarea matInput placeholder="Descrição" formControlName="descricao"></textarea>
        </mat-form-field>

        <div class="flex">
            <mat-form-field>
                <input matInput placeholder="Altura" formControlName="altura">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Peso" formControlName="peso">
            </mat-form-field>
        </div>


        <div class="flex">
            <mat-form-field>
                <input matInput placeholder="Categoria" formControlName="categoria">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Habilidade" formControlName="habilidade">
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-form-field>
                <input matInput placeholder="Ataque" formControlName="ataque">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Defesa" formControlName="defesa">
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-form-field>
                <input matInput placeholder="Velocidade" formControlName="velocidade">
            </mat-form-field>
        </div>

        <button mat-button type="submit">Cadastrar</button>
    </form>
</div>